[Unit]
Description=raspi-exe
After=network.target

[Service]
SuccessExitStatus=143
Type=simple

User=root

ExecStart=java -jar /usr/src/raspi-exe/raspi-exe.jar --spring.profiles.active=local
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
